{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Draft Reviews" %}{% endblock %}
{% block hero_title %}<h1>{% trans "Draft Reviews" %}</h1>{% endblock %}
{% block hero_description %}<p>Hi, {{ user.get_username | upper }}! Let's publish these reviews!</p>{% endblock %}

{% block content %}
<div class="container-fluid p-0">
    <div class="row m-0">
        <div class="col mb-5">
            {% if review_draft %}
            <div class="row">
                {% for review in review_draft %}
                <div class="col m-5">
                    <div class="card mb-4" style="max-width: 800px;">
                        <div class="card-body text-center">
                            <h2 class="card-title text-uppercase"> {{ review.author }}</h2>
                            <p class="card-text">Service Rating: {{ review.service_rating }}</p>
                            <p class="card-text">Food Rating: {{ review.food_rating }}</p>
                            <p class="card-text">Overall Rating: {{ review.overall_rating }}</p>
                            <div class="reviews-comment">
                                <p class="card-text">{{ review.comment }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 and not forloop.last %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
            {% else %}
            <div class="container-fluid card mb-5 p-5">
                <div class="row">
                    <div class="col-lg-12 mt-3 text-center">
                        <h2 class="text-uppercase card-title">There's no reviews yet!</h2>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}