{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Forgotten Password" %}{% endblock %}
{% block hero_title %}<h1>{% trans "Forgotten Password" %}</h1>{% endblock %}
{% block hero_description %}{% endblock %}

{% block content %}

<div class="container-fluid w-75 card mb-5 mt-5 p-4">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2 text-center">
            <h2 class="text-uppercase card-title">{% trans "Forgotten Password" %}</h2>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p class="card-text">
                {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form method="POST" action="{% url 'account_reset_password' %}" >
                {% csrf_token %}
                <div class="form-group">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>
                <div class="form-group">
                    <div class="card-btn">
                        <button class="btn btn-secondary text-uppercase"
                            type="submit">{% trans "Reset My Password" %}</button>
                    </div>
                </div>
            </form>
            <p class="card-text text-center">{% blocktrans %}Please contact us if you have any trouble resetting your
                password.{% endblocktrans %}</p>

        </div>
    </div>
</div>

{% endblock %}