{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block hero_title %}<h1>{% trans "Change Password Successful" %}</h1>{% endblock %}
{% block hero_description %}{% endblock %}

{% block content %}
<div class="container-fluid card-container mb-5 mt-5 p-4">
    <div class="card p-3">
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2 text-center">
                <h2 class="text-uppercase card-title">Your password is now changed.</h2>
                <p class="card-text">We hope to see you in the restaurant soon!</p>
            </div>
        </div>
        <div class="card-btn">
            <a href="/" class="btn btn-secondary text-uppercase">Get back home!</a>
        </div>
    </div>
</div>
{% endblock %}
