<footer class="mt-auto py-3 bg-dark text-lg-start">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4 class="text-uppercase">About Us</h4>
                <p>We cater for those looking for a better scenery when working from home, come join us!</p>
                
            </div>
            <div class="col-md-6">
                <h4 class="text-uppercase">Opening Times</h4>
                <p>We are open 7 days a week from 12pm till 5pm!</p>
            </div>
        </div>
    </div>
    <div class="text-center p-3">
        Developed by &copy;
        <a href="https://github.com/LesterCuasay?tab=repositories" target="blank_" rel="nofollow">Lester
            Cuasay</a> <span id="year"></span>
    </div>
    <div class="mb-1">
        <a class="btn btn-floating m-1" href="https://github.com/LesterCuasay?tab=repositories"
            target="blank"><i class="fa-brands fa-github"></i></a>
        <a class="btn btn-floating m-1" href="https://www.linkedin.com/in/lester-cuasay/" target="blank"><i
                class="fa-brands fa-linkedin"></i></a>
    </div>
</footer>