<footer class="footer mt-auto py-3 bg-dark">
    <div class="text-center p-3">
        Developed by &copy;
        <a href="https://github.com/LesterCuasay?tab=repositories" target="blank_" rel="nofollow">Lester
            Cuasay</a> <span id="year"></span>
    </div>
    <div class="container">
        <div class="mb-1">
            <a class="btn btn-floating m-1" href="https://github.com/LesterCuasay?tab=repositories" target="blank"><i
                    class="fa-brands fa-github"></i></a>
            <a class="btn btn-floating m-1" href="https://www.linkedin.com/in/lester-cuasay/" target="blank"><i
                    class="fa-brands fa-linkedin"></i></a>
        </div>
    </div>
</footer>