{% extends "base.html" %}

{% block content %}

<div class="hero-image">
    <div class="hero-text">
        <h1>Welcome to Coders Cave!</h1>
        <p>Come and join us and relax!</p>
    </div>
</div>

<!--Card Content-->

<div class="container-fluid">
    <div class="row">
        <div class="card m-5 col">
            <img src="https://res.cloudinary.com/dloyfqzja/image/upload/v1683622630/menu-card_lhbo5b.jpg"
                class="card-img-top" alt="Pictures of Pancakes">
            <div class="card-body">
                <h5 class="card-title">Menu</h5>
                <p class="card-text">Our mouthwatering menu aims to cater for everyone (including children) using locally and seasonally sourced produce, if you're interested on what we 
                    have to offer come see our menu!
                </p> 
            </div>
            <div class="card-btn">
                <a href="{% url 'menu' %}" class="btn btn-secondary text-uppercase">See Our Menu</a>  
            </div>
        </div>
        <div class="card m-5 col">
            <img src="https://res.cloudinary.com/dloyfqzja/image/upload/v1683625705/table-card_zutucl.jpg"
                class="card-img-top" alt="Pictures of Tables">
            <div class="card-body">
                <h5 class="card-title">Book a Table</h5>
                <p class="card-text">We can never know how busy we are going to get, so why don't you stay ahead and book in a table in advance!</p>
            </div>
            <div class="card-btn">
                <a href="{% url 'book' %}" class="btn btn-secondary text-uppercase">Book Now!</a>  
            </div>
        </div>
    </div>
</div>

{% endblock content %}