{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!--Card Content-->

<div class="container-fluid d-flex justify-content-center flex-wrap flex-xl-nowrap">
    <div class="row">
        <div class="card m-5 col" style="max-width: 600px;">
            <img src="https://res.cloudinary.com/dloyfqzja/image/upload/v1683622630/images/menu-card_lhbo5b.jpg"
                class="card-img-top" alt="Pictures of Pancakes">
            <div class="card-body">
                <h2 class="card-title">Menu</h2>
                <p class="card-text">Our mouthwatering menu aims to cater for everyone (including children) using
                    locally and seasonally sourced produce, if you're interested on what we
                    have to offer come see our menu!
                </p>
            </div>
            <div class="card-btn">
                <a href="{% url 'menu' %}" class="btn btn-secondary text-uppercase">See Our Menu</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card m-5 col" style="max-width: 600px;">
            <img src="https://res.cloudinary.com/dloyfqzja/image/upload/v1683625705/images/table-card_zutucl.jpg"
                class="card-img-top" alt="Pictures of Tables">
            <div class="card-body">
                <h2 class="card-title">Book a Table</h2>
                <p class="card-text">We can never know how busy we are going to get, so why don't you stay ahead and
                    book in
                    a table in advance!</p>
            </div>
            <div class="card-btn">
                <a href="{% url 'book_table' %}" class="btn btn-secondary text-uppercase">Book Now!</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mb-5 p-5">
    {% if user.is_authenticated %}
    <div class="row">
        <div class="card col-lg-8 mt-3 offset-lg-2 text-center">
            <h2 class="card-title text-uppercase mt-5"> Hi, {{ user.get_username }}!</h2>
            <p class="card-text mb-0">Want to leave us a review? Fill this out!</p>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="text-center">
                    <div class="review-rating">
                        <div class="review-label">
                            {{ review_form.service_rating.label_tag }}
                            {{ review_form.service_rating | as_crispy_field }}
                        </div>
                    </div>
                    <div class="review-rating">
                        <div class="review-label">
                            {{ review_form.food_rating.label_tag }}
                            {{ review_form.food_rating | as_crispy_field }}
                        </div>
                    </div>
                    <div class="review-rating">
                        <div class="review-label">
                            {{ review_form.overall_rating.label_tag }}
                            {{ review_form.overall_rating | as_crispy_field }}
                        </div>
                    </div>
                    <div class="review">
                        {{ review_form.email | as_crispy_field }}
                    </div>
                    <div class="review">
                        {{ review_form.comment | as_crispy_field }}
                    </div>
                    <div class="form-group">
                        <div class="card-btn">
                            <button class="btn btn-secondary text-uppercase" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
            {% else %}
            <div class="container card mb-4 p-5">
                <div class="row">
                    <div class="col-md-8 mt-3 offset-md-2 text-center">
                        <h1 class="text-uppercase card-title">Leave us a review!</h1>
                        <p class="card-text">Sign in with the button below, if you don't have an account <a class="secondaryAction signup-link" href="{% url 'account_signup' %}">sign up</a> here!</p>
                    </div>
                </div>
                <div class="card-btn">
                    <a href="{% url 'account_login' %}" class="btn btn-secondary text-uppercase">Sign in</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}