{% extends "base.html" %}

{% block content %}

<div class="hero-image">
    <div class="hero-text">
        <h1>Welcome to Coders Cave!</h1>
        <p>Come and join us and relax!</p>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="card m-5 col" style="width: 30rem;">
            <img src="https://res.cloudinary.com/dloyfqzja/image/upload/v1683622630/menu-card_lhbo5b.jpg"
                class="card-img-top" alt="Pictures of Pancakes">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p> 
            </div>
            <div class="card-btn">
                <a href="#" class="btn btn-secondary">Go somewhere</a>  
            </div>
        </div>
        <div class="card m-5 col" style="width: 30rem;">
            <img src="https://res.cloudinary.com/dloyfqzja/image/upload/v1683622630/menu-card_lhbo5b.jpg"
                class="card-img-top" alt="Pictures of Pancakes">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
        <div class="card m-5 col" style="width: 30rem;">
            <img src="https://res.cloudinary.com/dloyfqzja/image/upload/v1683622630/menu-card_lhbo5b.jpg"
                class="card-img-top" alt="Pictures of Pancakes">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div>

</div>

{% endblock content %}