{% extends "base.html" %}

{% block content %}
<div class="hero-image">
    <div class="hero-text">
        <h1>Menu</h1>
    </div>
</div>

<div class="container-fluid mt-4">
    <div class="card col-md-8 p-4 mx-auto" style="max-width: 600px;">
        <h2 class="card-title">Starters</h2>
    </div>
</div>
<div class="container-fluid d-flex justify-content-center flex-wrap flex-xl-nowrap">
    <div class="row">
        <div class="card m-5 col" style="max-width: 400px;">
            <img src="https://res.cloudinary.com/dloyfqzja/image/upload/v1683622630/menu-card_lhbo5b.jpg"
                class="card-img-top" alt="Pictures of Pancakes">
            <div class="card-body">
                <h5 class="card-title">Bruschetta</h5>
                <p class="card-text">Fresh tomatoes, basil, garlic, and olive oil served on toasted bread.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card m-5 col" style="max-width: 400px;">
            <img src="https://res.cloudinary.com/dloyfqzja/image/upload/v1683622630/menu-card_lhbo5b.jpg"
                class="card-img-top" alt="Pictures of Pancakes">
            <div class="card-body">
                <h5 class="card-title">Crispy Calamari</h5>
                <p class="card-text">Lightly breaded and fried calamari served with marinara sauce.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card m-5 col" style="max-width: 400px;">
            <img src="https://res.cloudinary.com/dloyfqzja/image/upload/v1683622630/menu-card_lhbo5b.jpg"
                class="card-img-top" alt="Pictures of Pancakes">
            <div class="card-body">
                <h5 class="card-title">Guacamole and Chips</h5>
                <p class="card-text">Freshly made guacamole served with crispy tortilla chips.</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-4">
    <div class="card col-md-8 p-4 mx-auto" style="max-width: 600px;">
        <h2 class="card-title">Mains</h2>
    </div>
</div>
<div class="container-fluid d-flex justify-content-center flex-wrap flex-xl-nowrap">
    <div class="row">
        <div class="card m-5 col" style="max-width: 400px;">
            <img src="https://res.cloudinary.com/dloyfqzja/image/upload/v1683622630/menu-card_lhbo5b.jpg"
                class="card-img-top" alt="Pictures of Pancakes">
            <div class="card-body">
                <h5 class="card-title">Caesar Salad</h5>
                <p class="card-text">Romaine lettuce, Parmesan cheese, croutons, and Caesar dressing.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card m-5 col" style="max-width: 400px;">
            <img src="https://res.cloudinary.com/dloyfqzja/image/upload/v1683622630/menu-card_lhbo5b.jpg"
                class="card-img-top" alt="Pictures of Pancakes">
            <div class="card-body">
                <h5 class="card-title">Grilled Salmon</h5>
                <p class="card-text">Fresh salmon fillet grilled to perfection and served with roasted vegetables and lemon-butter sauce.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card m-5 col" style="max-width: 400px;">
            <img src="https://res.cloudinary.com/dloyfqzja/image/upload/v1683622630/menu-card_lhbo5b.jpg"
                class="card-img-top" alt="Pictures of Pancakes">
            <div class="card-body">
                <h5 class="card-title">Filet Mignon</h5>
                <p class="card-text">Tender beef filet cooked to your preference and accompanied by mashed potatoes and sautéed asparagus.</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-4">
    <div class="card col-md-8 p-4 mx-auto" style="max-width: 600px;">
        <h2 class="card-title">Desserts</h2>
    </div>
</div>
<div class="container-fluid d-flex justify-content-center flex-wrap flex-xl-nowrap">
    <div class="row">
        <div class="card m-5 col" style="max-width: 400px;">
            <img src="https://res.cloudinary.com/dloyfqzja/image/upload/v1683622630/menu-card_lhbo5b.jpg"
                class="card-img-top" alt="Pictures of Pancakes">
            <div class="card-body">
                <h5 class="card-title">New York Cheesecake</h5>
                <p class="card-text">Classic creamy cheesecake with a graham cracker crust, served with berry compote.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card m-5 col" style="max-width: 400px;">
            <img src="https://res.cloudinary.com/dloyfqzja/image/upload/v1683622630/menu-card_lhbo5b.jpg"
                class="card-img-top" alt="Pictures of Pancakes">
            <div class="card-body">
                <h5 class="card-title">Chocolate Lava Cake</h5>
                <p class="card-text">Warm chocolate cake with a gooey chocolate center, served with vanilla ice cream.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card m-5 col" style="max-width: 400px;">
            <img src="https://res.cloudinary.com/dloyfqzja/image/upload/v1683622630/menu-card_lhbo5b.jpg"
                class="card-img-top" alt="Pictures of Pancakes">
            <div class="card-body">
                <h5 class="card-title">Tiramisu</h5>
                <p class="card-text">Traditional Italian dessert with layers of ladyfingers soaked in coffee and mascarpone cream.</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-4">
    <div class="card col-md-8 p-4 mx-auto" style="max-width: 600px;">
        <h2 class="card-title">Drinks</h2>
    </div>
</div>
<div class="container-fluid d-flex justify-content-center flex-wrap flex-xl-nowrap">
    <div class="row">
        <div class="card m-5 col" style="max-width: 400px;">
            <img src="https://res.cloudinary.com/dloyfqzja/image/upload/v1683622630/menu-card_lhbo5b.jpg"
                class="card-img-top" alt="Pictures of Pancakes">
            <div class="card-body">
                <h5 class="card-title">Cappuccino</h5>
                <p class="card-text">Equal parts espresso, steamed milk, and frothed milk, often topped with a sprinkle of cocoa powder.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card m-5 col" style="max-width: 400px;">
            <img src="https://res.cloudinary.com/dloyfqzja/image/upload/v1683622630/menu-card_lhbo5b.jpg"
                class="card-img-top" alt="Pictures of Pancakes">
            <div class="card-body">
                <h5 class="card-title">English Breakfast Tea</h5>
                <p class="card-text">A robust and full-bodied black tea blend.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card m-5 col" style="max-width: 400px;">
            <img src="https://res.cloudinary.com/dloyfqzja/image/upload/v1683622630/menu-card_lhbo5b.jpg"
                class="card-img-top" alt="Pictures of Pancakes">
            <div class="card-body">
                <h5 class="card-title">Classic Hot Chocolate</h5>
                <p class="card-text">Rich and creamy hot cocoa made with melted chocolate or cocoa powder, topped with whipped cream.</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}