{% extends "base.html" %}

{% block content %}
<div class="hero-image">
    <div class="hero-text">
        <h1>Menu</h1>
    </div>
</div>

<div class="container d-flex justify-content-center">
    <div class="card col-md-8 mt-4 p-4">
        <h2 class="card-title">Starters</h2>
    </div>
</div>
<div class="container d-flex">
    <div class="row">
        <div class="card m-5 col">
            <img src="https://res.cloudinary.com/dloyfqzja/image/upload/v1683622630/menu-card_lhbo5b.jpg"
                class="card-img-top" alt="Pictures of Pancakes">
            <div class="card-body">
                <h5 class="card-title">Starter 1</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac posuere nisi,
                    et ultrices ante. Curabitur scelerisque vulputate tortor eget luctus.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card m-5 col">
            <img src="https://res.cloudinary.com/dloyfqzja/image/upload/v1683622630/menu-card_lhbo5b.jpg"
                class="card-img-top" alt="Pictures of Pancakes">
            <div class="card-body">
                <h5 class="card-title">Starter 2</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac posuere nisi,
                    et ultrices ante. Curabitur scelerisque vulputate tortor eget luctus.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card m-5 col">
            <img src="https://res.cloudinary.com/dloyfqzja/image/upload/v1683622630/menu-card_lhbo5b.jpg"
                class="card-img-top" alt="Pictures of Pancakes">
            <div class="card-body">
                <h5 class="card-title">Starter 3</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac posuere nisi,
                    et ultrices ante. Curabitur scelerisque vulputate tortor eget luctus.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-center">
    <div class="card col-md-8 mt-4 p-4">
        <h2 class="card-title">Mains</h2>
    </div>
</div>
<div class="container d-flex">
    <div class="row">
        <div class="card m-5 col">
            <img src="https://res.cloudinary.com/dloyfqzja/image/upload/v1683622630/menu-card_lhbo5b.jpg"
                class="card-img-top" alt="Pictures of Pancakes">
            <div class="card-body">
                <h5 class="card-title">Main 1</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac posuere nisi,
                    et ultrices ante. Curabitur scelerisque vulputate tortor eget luctus.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card m-5 col">
            <img src="https://res.cloudinary.com/dloyfqzja/image/upload/v1683622630/menu-card_lhbo5b.jpg"
                class="card-img-top" alt="Pictures of Pancakes">
            <div class="card-body">
                <h5 class="card-title">Main 2</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac posuere nisi,
                    et ultrices ante. Curabitur scelerisque vulputate tortor eget luctus.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card m-5 col">
            <img src="https://res.cloudinary.com/dloyfqzja/image/upload/v1683622630/menu-card_lhbo5b.jpg"
                class="card-img-top" alt="Pictures of Pancakes">
            <div class="card-body">
                <h5 class="card-title">Main 3</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac posuere nisi,
                    et ultrices ante. Curabitur scelerisque vulputate tortor eget luctus.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-center">
    <div class="card col-md-8 mt-4 p-4">
        <h2 class="card-title">Desserts</h2>
    </div>
</div>
<div class="container d-flex">
    <div class="row">
        <div class="card m-5 col">
            <img src="https://res.cloudinary.com/dloyfqzja/image/upload/v1683622630/menu-card_lhbo5b.jpg"
                class="card-img-top" alt="Pictures of Pancakes">
            <div class="card-body">
                <h5 class="card-title">Dessert 1</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac posuere nisi,
                    et ultrices ante. Curabitur scelerisque vulputate tortor eget luctus.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card m-5 col">
            <img src="https://res.cloudinary.com/dloyfqzja/image/upload/v1683622630/menu-card_lhbo5b.jpg"
                class="card-img-top" alt="Pictures of Pancakes">
            <div class="card-body">
                <h5 class="card-title">Dessert 2</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac posuere nisi,
                    et ultrices ante. Curabitur scelerisque vulputate tortor eget luctus.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card m-5 col">
            <img src="https://res.cloudinary.com/dloyfqzja/image/upload/v1683622630/menu-card_lhbo5b.jpg"
                class="card-img-top" alt="Pictures of Pancakes">
            <div class="card-body">
                <h5 class="card-title">Dessert 3</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac posuere nisi,
                    et ultrices ante. Curabitur scelerisque vulputate tortor eget luctus.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-center">
    <div class="card col-md-8 mt-4 p-4">
        <h2 class="card-title">Drinks</h2>
    </div>
</div>
<div class="container d-flex">
    <div class="row">
        <div class="card m-5 col">
            <img src="https://res.cloudinary.com/dloyfqzja/image/upload/v1683622630/menu-card_lhbo5b.jpg"
                class="card-img-top" alt="Pictures of Pancakes">
            <div class="card-body">
                <h5 class="card-title">Drink 1</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac posuere nisi,
                    et ultrices ante. Curabitur scelerisque vulputate tortor eget luctus.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card m-5 col">
            <img src="https://res.cloudinary.com/dloyfqzja/image/upload/v1683622630/menu-card_lhbo5b.jpg"
                class="card-img-top" alt="Pictures of Pancakes">
            <div class="card-body">
                <h5 class="card-title">Drink 2</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac posuere nisi,
                    et ultrices ante. Curabitur scelerisque vulputate tortor eget luctus.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card m-5 col">
            <img src="https://res.cloudinary.com/dloyfqzja/image/upload/v1683622630/menu-card_lhbo5b.jpg"
                class="card-img-top" alt="Pictures of Pancakes">
            <div class="card-body">
                <h5 class="card-title">Drink 3</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac posuere nisi,
                    et ultrices ante. Curabitur scelerisque vulputate tortor eget luctus.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}