{% extends "base.html" %}

{% block content %}
<div class="hero-image">
    <div class="hero-text">
        <h1>Menu</h1>
    </div>
</div>

<div class="container-fluid mt-4">
    <div class="card col-md-8 p-4 mx-auto" style="max-width: 600px;">
        <h2 class="card-title">Starters</h2>
    </div>
</div>
<div class="container-fluid d-flex justify-content-center flex-wrap flex-xl-nowrap">
    <div class="row">
        <div class="card m-5 col" style="max-width: 400px;">
            <img src="https://res.cloudinary.com/dloyfqzja/image/upload/v1685722807/images/bruschetta_hfcjaq.jpg"
                class="card-img-top" alt="Picture of Bruschetta">
            <div class="card-body">
                <h3 class="card-title">Bruschetta</h3>
                <p class="card-text">Fresh tomatoes, basil, garlic, and olive oil served on toasted bread.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card m-5 col" style="max-width: 400px;">
            <img src="https://res.cloudinary.com/dloyfqzja/image/upload/v1685722807/images/calamari_vdurap.jpg"
                class="card-img-top" alt="Picture of Calamari">
            <div class="card-body">
                <h3 class="card-title">Crispy Calamari</h3>
                <p class="card-text">Lightly breaded and fried calamari served with marinara sauce.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card m-5 col" style="max-width: 400px;">
            <img src="https://res.cloudinary.com/dloyfqzja/image/upload/v1685722808/images/nachos_m7xc5s.jpg"
                class="card-img-top" alt="Picture of Guacamole and Chips">
            <div class="card-body">
                <h3 class="card-title">Guacamole and Chips</h3>
                <p class="card-text">Freshly made guacamole served with crispy tortilla chips.</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-4">
    <div class="card col-md-8 p-4 mx-auto" style="max-width: 600px;">
        <h2 class="card-title">Mains</h2>
    </div>
</div>
<div class="container-fluid d-flex justify-content-center flex-wrap flex-xl-nowrap">
    <div class="row">
        <div class="card m-5 col" style="max-width: 400px;">
            <img src="https://res.cloudinary.com/dloyfqzja/image/upload/v1685722806/images/caesar_uico7e.jpg"
                class="card-img-top" alt="Picture of Caesar Salad">
            <div class="card-body">
                <h3 class="card-title">Caesar Salad</h3>
                <p class="card-text">Romaine lettuce, Parmesan cheese, croutons, and Caesar dressing.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card m-5 col" style="max-width: 400px;">
            <img src="https://res.cloudinary.com/dloyfqzja/image/upload/v1683622630/images/salmon_tg3oam.jpg"
                class="card-img-top" alt="Picture of Grilled Salmon">
            <div class="card-body">
                <h3 class="card-title">Grilled Salmon</h3>
                <p class="card-text">Fresh salmon fillet grilled to perfection and served with roasted vegetables and lemon-butter sauce.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card m-5 col" style="max-width: 400px;">
            <img src="https://res.cloudinary.com/dloyfqzja/image/upload/v1683622630/images/filet_n1jvyv.jpg"
                class="card-img-top" alt="Picture of Filet Mignon">
            <div class="card-body">
                <h3 class="card-title">Filet Mignon</h3>
                <p class="card-text">Tender beef filet cooked to your preference and accompanied by mashed potatoes and sautéed asparagus.</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-4">
    <div class="card col-md-8 p-4 mx-auto" style="max-width: 600px;">
        <h2 class="card-title">Desserts</h2>
    </div>
</div>
<div class="container-fluid d-flex justify-content-center flex-wrap flex-xl-nowrap">
    <div class="row">
        <div class="card m-5 col" style="max-width: 400px;">
            <img src="https://res.cloudinary.com/dloyfqzja/image/upload/v1683622630/images/cheesecake_ybl8ny.jpg"
                class="card-img-top" alt="Picture of New York Cheesecake">
            <div class="card-body">
                <h3 class="card-title">New York Cheesecake</h3>
                <p class="card-text">Classic creamy cheesecake with a graham cracker crust, served with berry compote.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card m-5 col" style="max-width: 400px;">
            <img src="https://res.cloudinary.com/dloyfqzja/image/upload/v1683622630/images/lava_wjhbre.jpg"
                class="card-img-top" alt="Picture of Lava Cake">
            <div class="card-body">
                <h3 class="card-title">Chocolate Lava Cake</h3>
                <p class="card-text">Warm chocolate cake with a gooey chocolate center, served with vanilla ice cream.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card m-5 col" style="max-width: 400px;">
            <img src="https://res.cloudinary.com/dloyfqzja/image/upload/v1683622630/images/tiramisu_d3mj7s.jpg"
                class="card-img-top" alt="Picture of Tiramisu">
            <div class="card-body">
                <h3 class="card-title">Tiramisu</h3>
                <p class="card-text">Traditional Italian dessert with layers of ladyfingers soaked in coffee and mascarpone cream.</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-4">
    <div class="card col-md-8 p-4 mx-auto" style="max-width: 600px;">
        <h2 class="card-title">Drinks</h2>
    </div>
</div>
<div class="container-fluid d-flex justify-content-center flex-wrap flex-xl-nowrap">
    <div class="row">
        <div class="card m-5 col" style="max-width: 400px;">
            <img src="https://res.cloudinary.com/dloyfqzja/image/upload/v1683622630/images/cappuccino_ansvei.jpg"
                class="card-img-top" alt="Picture of Cappuccino">
            <div class="card-body">
                <h3 class="card-title">Cappuccino</h3>
                <p class="card-text">Equal parts espresso, steamed milk, and frothed milk, often topped with a sprinkle of cocoa powder.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card m-5 col" style="max-width: 400px;">
            <img src="https://res.cloudinary.com/dloyfqzja/image/upload/v1683622630/images/tea_jmahud.jpg"
                class="card-img-top" alt="Picture of English Breakfast Tea">
            <div class="card-body">
                <h3 class="card-title">English Breakfast Tea</h3>
                <p class="card-text">A robust and full-bodied black tea blend.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card m-5 col" style="max-width: 400px;">
            <img src="https://res.cloudinary.com/dloyfqzja/image/upload/v1683622630/images/hot-chocolate_u6z4em.jpg"
                class="card-img-top" alt="Picture Hot Chocolate">
            <div class="card-body">
                <h3 class="card-title">Classic Hot Chocolate</h3>
                <p class="card-text">Rich and creamy hot cocoa made with melted chocolate or cocoa powder, topped with whipped cream.</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}