{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="hero-image">
    <div class="hero-text">
        <h1>Book A Table</h1>
    </div>
</div>


<div class="container card mb-4 mt-4 p-5">
    {% if user.authenticated %}
    <form action="" method="post">
        {% csrf_token %}
    <div class="form-group">
        {{ form.name }}
    </div>
    <div class="form-group">
        {{ form.email }}
    </div>
    <div class="form-group">
        {{ form.phone_number }}
    </div>
    <div class="form-group">
        {{ form.number_of_people }}
    </div>
    <div class="form-group">
        {{ form.date }}
    </div>
    <div class="form-group">
        {{ form.special_requirements }}
    </div>
    <div class="form-group">
        <button class="btn btn-secondary text-uppercase" type="submit">Submit</button>
    </div>
    </form>
    {% else %}
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2 text-center">
            <h2 class="text-uppercase card-title d-block">Please
                <a class="secondaryAction" href="{% url 'account_login' %}">sign in</a> to book a table</h2>
            <p class="card-text">{% blocktrans %}If you have not created an account yet, then please
                <a class="secondaryAction" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}