{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Book A Table" %}{% endblock %}
{% block hero_title %}<h1>{% trans "Book a Table" %}</h1>{% endblock %}
{% block hero_description %}{% endblock %}

{% block content %}

<div class="container-fluid mb-5 mt-5 p-4 card-container">
    {% if user.is_authenticated %}
    <form action="{% url 'book_table' %}" method="post" class="card p-3">
        <div class="col-md-8 mt-3 offset-md-2 text-center">
            <h2 class="card-title"> Hi, {{ user.get_username | capfirst }}!</h2>
    
            <p class="card-text mb-4">Please fill out the form below to book a table!</p>
        </div>
        {% csrf_token %}
        <div class="text-center">
            <div class="form-group">
                {{ form.name.label_tag }}
                {{ form.name }}
            </div>
            <div class="form-group">
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>
            <div class="form-group">
                {{ form.phone_number.label_tag }}
                {{ form.phone_number }}
            </div>
            <div class="form-group">
                {{ form.number_of_people.label_tag }}
                {{ form.number_of_people }}
            </div>
            <div class="form-group">
                {{ form.date.label_tag }}
                {{ form.date }}
            </div>
            <div class="form-group">
                {{ form.time.label_tag }}
                {{ form.time }}
            </div>
            <div class="form-group">
                {{ form.special_requirements.label_tag }}
                {{ form.special_requirements }}
            </div>
            <div class="form-group-errors">
                {% if form.date.errors %}
                {% for error in form.date.errors %}
                <div class="form-errors alert-danger">
                    {{ error }}
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="form-group-errors">
                {% if form.time.errors %}
                {% for error in form.time.errors %}
                <div class="form-errors alert-danger">
                    {{ error }}
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                <div class="card-btn">
                    <button class="btn btn-secondary text-uppercase" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </form>
    {% else %}
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2 text-center">
            <h2 class="text-uppercase card-title d-block">Please
                <a class="secondaryAction" href="{% url 'account_login' %}?next={{ request.path }}">sign in</a> to book
                a table</h2>
            <p class="card-text">If you have not created an account yet, then please
                <a class="secondaryAction" href="{% url 'account_signup' %}">sign up</a> first.</p>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}