{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Delete Booking" %}{% endblock %}
{% block hero_title %}<h1>{% trans "Delete Booking" %}</h1>{% endblock %}
{% block hero_description %}{% endblock %}
{% block content %}

<div class="container-fluid w-75 card mb-5 mt-5 p-md-5">
    <div class="col-md-8 mt-3 offset-md-2 text-center">
        <div class="card-body">
            <h2 class="card-title"> Hi, {{ user.get_username | capfirst }}!</h2>
            <p class="card-text mb-4">Are you sure you want to delete this booking?</p>
        </div>
    </div>
    <div class="card-body">
        <div class="col-md-8 mt-3 offset-md-2 text-center">
            <h2 class="card-title text-uppercase">{{ booking.name }}</h2>
            <p class="card-text text-center">Date: {{ booking.date }}</p>
            <p class="card-text text-center">Time: {{ booking.time | time:"H:i" }}</p>
        </div>
    </div>
    <br>
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <div class="card-btn">
                <button class="btn btn-secondary text-uppercase" type="submit">Delete</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}