{% extends "base.html" %}

{% load i18n %}


{% block head_title %}{% trans "My Bookings" %}{% endblock %}
{% block content %}
<div class="hero-image">
    <div class="hero-text">
        <h1>My Bookings</h1>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col mb-5">
            <div class="row">
                {% for booking in bookings %}
                <div class="col m-5">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="card-title">{{ booking.pk }} {{ booking.name }}</h2>
                            <p class="card-text">{{ booking.date }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}