{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "My Bookings" %}{% endblock %}
{% block hero_title %}<h1>{% trans "My Bookings" %}</h1>{% endblock %}
{% block hero_description %}{% endblock %}

{% block content %}

<div class="container-fluid p-0">
    <div class="row m-0">
        <div class="col mb-5">
            {% if bookings %}
            <div class="row">
                {% for booking in bookings %}
                <div class="col m-0 m-md-2">
                    <div class="card mb-4 mt-4" style="max-width: 800px;">
                        <div class="card-body">
                            <h2 class="card-title">{{ booking.name | capfirst }}</h2>
                            <p class="card-text text-center">Date: {{ booking.date }}</p>
                            <p class="card-text text-center">Time: {{ booking.time | time:"H:i" }}</p>
                        </div>
                        <div class="card-btn">
                            <a href="{% url 'update_booking' booking.id %}"
                                class="btn btn-secondary text-uppercase mr-4">Edit</a>
                            <a href="{% url 'delete_booking' booking.id %}"
                                class="btn btn-secondary text-uppercase">Delete</a>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 and not forloop.last %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% else %}
        <div class="container card mb-5 mt-5 p-5">
            <div class="row">
                <div class="col-md-8 mt-3 offset-md-2 text-center">
                    <h1 class="text-uppercase card-title">You have no bookings!</h1>
                    <p class="card-text">Book a table with the button below!</p>
                </div>
            </div>
            <div class="card-btn">
                <a href="{% url 'book_table' %}" class="btn btn-secondary text-uppercase">Book Now!</a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}