{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Update Booking" %}{% endblock %}
{% block hero_title %}<h1>{% trans "Update Booking" %}</h1>{% endblock %}
{% block hero_description %}{% endblock %}

{% block content %}

<div class="container-fluid w-75 card mb-5 mt-5 p-5">
    <div class="col-md-8 mt-3 offset-md-2 text-center">
        <h2 class="card-title"> Hi, {{ user.get_username | capfirst }}!</h2>
        {% if user.is_superuser %}
        <p class="card-text mb-4">Update the customers booking below!</p>
        {% endif %}
        {% if not user.is_superuser %}
        <p class="card-text mb-4">Update your booking below!</p>
        {% endif %}
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.name }}
        </div>
        <div class="form-group">
            {{ form.email }}
        </div>
        <div class="form-group">
            {{ form.phone_number }}
        </div>
        <div class="form-group">
            {{ form.number_of_people }}
        </div>
        <div class="form-group">
            {{ form.date }}
        </div>
        <div class="form-group">
            {{ form.time }}
        </div>
        <div class="form-group">
            {{ form.special_requirements }}
        </div>
        <div class="form-group-errors">
            {% if form.date.errors %}
            {% for error in form.date.errors %}
            <div class="form-errors alert-danger">
                {{ error }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="form-group-errors">
            {% if form.time.errors %}
            {% for error in form.time.errors %}
            <div class="form-errors alert-danger">
                {{ error }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            <div class="card-btn">
                <button class="btn btn-secondary text-uppercase" type="submit">Update</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}